.header {
  grid-area: header;
  max-width: 1110px;
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  height: 58px;
  margin-top: 32px;
  align-items: center;
}

.logo,
.authorization,
.burger_menu {
  cursor: pointer;
}

.burger_menu {
  display: none;
  width: 32px;
  height: 32px;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5.33px;
  background: transparent;
  border: none;
  font-size: 0;
}

.burger_menu span {
  display: block;
  height: 2.67px;
  width: 26.67px;
  background: #363636;
}

.burger_menu span:nth-child(1) {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burger_menu span:nth-child(2) {
  transition: transform 0.2s ease-in-out;
}

.burger_menu span:nth-child(3) {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.burger_active span:nth-child(1) {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  transform: rotate(45deg);
}

.burger_active span:nth-child(2) {
  transform: scaleY(0);
}

.burger_active span:nth-child(3) {
  margin-top: 2px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  transform: rotate(-45deg);
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-left: 126px;
  margin-right: auto;
}

.authorization {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  column-gap: 16px;
}

.welcome {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}



@media (max-width: 992.02px) {
  .header {
    max-width: 640px;
    margin: 0 auto;
    height: 94px;
    padding: 32px 0px 22px 0px;
  }
  .logo,
  .authorization {
    display: none;
  }
  .title {
    margin: 0px 0px 0px 26.67px;
  }
  .burger_menu {
    display: flex;
  }
}

@media (max-width: 576.02px) {
  .header {
    margin: 0 auto;
    height: 76px;
    padding: 24px 0px;
  }
  .logo,
  .authorization {
    display: none;
  }
  .title {
    font-size: 1.125rem;
    margin: 0px 0px 0px 24px;
  }
  .burger_menu {
    width: 24px;
    height: 24px;
    row-gap: 4px;
  }

  .burger_menu span {
    height: 2px;
    width: 20px;
  }
}
